:root {
    --background-color: #2B0A1A;
    --container-background: #123524;
    --text-color: #00FF00;
    --highlight-color: #F274B1;
    --input-border-color: #7D1E4C;
    --button-background: #00FF00;
    --button-text-color: #2B0A1A;
    --button-hover-background: #F274B1;
    --glitch-color-1: #00FF00;
    --glitch-color-2: #F274B1;
    --glitch-color-3: #7D1E4C;
    --shadow-color: rgba(0, 255, 0, 0.1);
}

body {
    font-family: 'Special Elite', cursive;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: var(--background-color);
    background-image: url('../image/back.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}