:root {
    --background-color: #2B0A1A;
    --container-background: #123524;
    --text-color: #00FF00;
    --highlight-color: #F274B1;
    --input-border-color: #7D1E4C;
    --button-background: #00FF00;
    --button-text-color: #2B0A1A;
    --button-hover-background: #F274B1;
    --glitch-color-1: #00FF00;
    --glitch-color-2: #F274B1;
    --glitch-color-3: #7D1E4C;
    --shadow-color: rgba(0, 255, 0, 0.1);
    --container-padding: 20px;
    --container-border-radius: 8px;
    --container-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Global styles */
body {
    font-family: 'Special Elite', cursive;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: var(--background-color);
    background-image: url('../image/back.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container styles */
.container {
    background-color: var(--container-background);
    padding: var(--container-padding);
    border-radius: var(--container-border-radius);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* 3D effect */
    max-width: 800px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: translateY(-10px); /* Move slightly up for 3D effect */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); /* Enhanced 3D effect */
}

/* Input group styles */
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    background-color: var(--container-background);
    color: var(--text-color);
}

/* Button styles */
.button-group button {
    width: 100%;
    padding: 10px;
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.button-group button:hover {
    background-color: var(--button-hover-background);
}

/* General text styles */
h1, h2, h3, h4, h5, h6 {
    color: var(--highlight-color);
}

p {
    margin-bottom: 20px;
}

a {
    color: var(--highlight-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}