:root {
    --background-color: #2B0A1A;
    --container-background: #123524;
    --text-color: #00FF00;
    --highlight-color: #F274B1;
    --input-border-color: #7D1E4C;
    --button-background: #00FF00;
    --button-text-color: #2B0A1A;
    --button-hover-background: #F274B1;
    --glitch-color-1: #00FF00;
    --glitch-color-2: #F274B1;
    --glitch-color-3: #7D1E4C;
    --shadow-color: rgba(0, 255, 0, 0.1);
}

body {
    font-family: 'Special Elite', cursive;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: var(--background-color);
    background-image: url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--text-color);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(18, 53, 36, 0.2); /* Transparent version of #123524 */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--shadow-color);
}

h1 {
    text-align: center;
    color: var(--text-color);
    text-shadow: 0 0 10px var(--shadow-color);
}

p {
    text-align: center;
    color: var(--highlight-color);
    margin-bottom: 20px;
}

.input-group, .result-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--highlight-color);
}

textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Special Elite', cursive;
}

textarea {
    height: 100px;
    resize: vertical;
}

.button-group {
    text-align: center;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    font-family: 'Special Elite', cursive;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-background);
    box-shadow: 0 0 10px var(--shadow-color);
}

#result {
    background-color: var(--background-color);
    border: 1px solid var(--input-border-color);
}

.loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 10, 26, 0.8);
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: var(--text-color);
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 var(--glitch-color-1), -0.05em -0.025em 0 var(--glitch-color-2), -0.025em 0.05em 0 var(--glitch-color-3);
    }
    14% {
        text-shadow: 0.05em 0 0 var(--glitch-color-1), -0.05em -0.025em 0 var(--glitch-color-2), -0.025em 0.05em 0 var(--glitch-color-3);
    }
    15% {
        text-shadow: -0.05em -0.025em 0 var(--glitch-color-1), 0.025em 0.025em 0 var(--glitch-color-2), -0.05em -0.05em 0 var(--glitch-color-3);
    }
    49% {
        text-shadow: -0.05em -0.025em 0 var(--glitch-color-1), 0.025em 0.025em 0 var(--glitch-color-2), -0.05em -0.05em 0 var(--glitch-color-3);
    }
    50% {
        text-shadow: 0.025em 0.05em 0 var(--glitch-color-1), 0.05em 0 0 var(--glitch-color-2), 0 -0.05em 0 var(--glitch-color-3);
    }
    99% {
        text-shadow: 0.025em 0.05em 0 var(--glitch-color-1), 0.05em 0 0 var(--glitch-color-2), 0 -0.05em 0 var(--glitch-color-3);
    }
    100% {
        text-shadow: -0.025em 0 0 var(--glitch-color-1), -0.025em -0.025em 0 var(--glitch-color-2), -0.025em -0.05em 0 var(--glitch-color-3);
    }
}

h1, button, #result {
    animation: glitch 1s linear infinite;
}


.logo img {
    max-width: 100px;
    height: auto;
}
.logo {
    position: absolute;
    top: 10px; /* Add some spacing from the top */
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 790px) {
    .logo {
        position: static; /* Reset positioning for larger screens */
        transform: none;
        max-width: 100px;
        margin-left: 0; /* Align it to the top-left */
    }
    
}

@media (max-width: 400px) {
    .logo img {
        max-width: 100px;
    }
}
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: white;
}

footer a , p{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

footer a:hover {
    text-shadow: 0 0 10px var(--shadow-color);
}
