
<footer>
    <div class="footer-content">
        <p>Original Programmers: <a href="https://amennoomen.com/" target="_blank">Amen Johnson</a> and Hazem Saidani</p>
        <p>Improved by: <a href="https://github.com/zRainerzz" target="_blank">Ghaith Khedhri</a></p>
        <p>Roles: Amen Johnson and Hazem Saidani cooperated to make it, Ghaith Khedhri is progressing in improving it.</p>
    </div>
</footer>
<style>
    footer {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    .footer-content a {
        color: #007bff;
        text-decoration: none;
    }
    .footer-content a:hover {
        text-decoration: underline;
    }
</style>