{%load static%}
<style>
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}



</style>
<div class="navbar">
    <div class="logo">
        <img src={% static "image\Johnson-removebg-preview.png" %} alt="Logo" style="height: 40px;">
    </div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/donation">Donation</a>
    </div>
</div>