{% load static %}
<style>
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #123524; /* Matches the container background */
    padding-right: 20px;
    padding-left: 20px;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 20px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is on top of other elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .navbar a {
    color: #00ff00; /* Matches the text color */
    text-decoration: none;
    padding: 14px 20px;
    margin-right: 30px;
    font-size: 0.9em;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    background-color: #2b0a1a; /* Button background color */
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* 3D effect */
  }
  .navbar a:hover {
    background-color: #f274b1; /* Matches the highlight color */
    color: #2b0a1a; /* Matches the background color */
    transform: translateX(-3px); /* Move slightly to the left for 3D effect */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* Enhanced 3D effect */
  }
  body {
    padding-top: 60px; /* Add padding to avoid content being hidden behind the navbar */
  }
</style>
<div class="navbar">
  <div class="logo">
    <img
      src="{% static 'image/Johnson-removebg-preview.png' %}"
      alt="Logo"
      style="height: 40px"
    />
  </div>
  <div class="nav-links">
    <span><a href="{% url 'home_page' %}">Home</a></span>
    <span><a href="{% url 'about' %}">About</a></span>
    <span><a href="{% url 'login_page' %}">Donation</a></span>
  </div>
</div>
